<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .block {
                height: 250px;
                position: absolute;
                top: 30%;
                left: 28%;
                margin: -125px 0 0 -125px;
         }
        body {
                background-image: url("{{url_for('static', filename='background.jpg')}}");

        }
    </style>
    <meta charset="UTF-8">
    <title>ВКР</title>
</head>
<body>
<div class="block">
<h1 style="color: white" align="center">Data Science</h1>
<h2 style="color: white" align="center">Рекомендации для соотношения матрица-наполнитель</h2>

<p align="center"><a style="color: white" href="/model_3/">Получить рекомендации</a></p>
</div>

</body>
</html>